.history {
  position: relative;
  font-family: var(--#{$prefix}font-family-suit);
  
  &-deco-1 {
    position: absolute;
    top: 0;
    left: rem(-127);
    width: percentage(721/1920);
    display: none;
    
    @include mdq-min(md) {
      display: block;
    }
  }
  
  &-deco-2 {
    position: absolute;
    top: rem(572);
    right: rem(-111);
    width: percentage(677/1920);
    display: none;
    
    @include mdq-min(md) {
      display: block;
    }
  }
  
  &-date {
    margin-bottom: rem(8);
    color: #333;
    font-weight: 700;
  }
  
  &-sub {
    display: inline-flex;
    align-items: center;
    @include font-size(12px);
    font-weight: 700;
    color: #ccc;
    gap: rem(6);
    margin-top: rem(16);
    
    &::before {
      content: '';
      display: block;
      width: rem(12);
      height: rem(12);
      gap: rem(6);
      background: {
        image: url(../images/icons/information_light.svg);
        repeat: no-repeat;
        position: center;
        size: cover;
      }
    }
  }
  
  &__line {
    content: '';
    display: block;
    width: 0.5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    
    &::before,
    &::after {
      content: '';
      width: rem(21);
      height: rem(21);
      border-radius: 100%;
      background-color: #fff;
      border: 1px solid #000;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background: {
        image: url(../images/history/icon_top.svg);
        repeat: no-repeat;
        position: center;
        size: cover;
      }
    }
    
    &::before {
      top: 0;
    }
    
    &::after {
      bottom: 0;
    }
  }
  
  &-desc {
    display: inline-block;
    background-color: #fff;
    padding: rem(20);
    
    @include mdq-min(lg) {
      display: block;
      background: none;
      padding: 0;
    }
  }
  
  &__item {
    position: relative;
    width: 100%;
    padding-top: rem(40);
    padding-bottom: rem(40);
    text-align: center;
    color: #666;
    
    @include mdq-min(lg) {
      width: 50%;
      display: flex;
      align-items: center;
    }
    
    &::before {
      content: '';
      display: block;
      width: rem(101);
      flex: 0 0 rem(101);
      height: rem(101);
      border-radius: 100%;
      border: 1px solid #333;
      background: {
        color: #fff;
        repeat: no-repeat;
        position: center;
        size: cover;
      }
    }
    
    &:first-child {
      padding-top: rem(80);
    }
    
    &:last-child {
      padding-bottom: rem(80);
    }
    
    &:nth-child(odd) {
      margin-left: auto;
      margin-right: 0;
      
      &::before {
        margin: 0 auto rem(20);
      }
      
      @include mdq-min(lg) {
        &::before {
          margin-left: rem(-50);
          margin-right: 0;
        }
        
        .history-desc {
          padding-left: rem(30);
          text-align: left;
        }
      }
    }
    
    &:nth-child(even) {
      margin-left: 0;
      margin-right: auto;
      flex-direction: row-reverse;
      
      &::before {
        margin: 0 auto rem(20);
      }
      
      @include mdq-min(lg) {
        text-align: right;
        
        &::before {
          margin-right: rem(-50);
          margin-left: 0;
        }
        
        .history-desc {
          padding-right: rem(30);
        }
        
        .history-sub {
          flex-direction: row-reverse;
        }
      }
    }
    
    @for $i from 1 through 6 {
      &:nth-child(#{$i})::before {
        background-image: url(../images/history/icon#{$i}.png);
      }
    }
  }
}