// Intro Card
.intro-card {
  &__header {
    position: relative;
    width: 100%;
    background-color: #f8f8f8;
    text-align: center;
    
    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }
  
  &__title-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    .intro-card-title {
      display: none;
      @include margin-top(32px);
    
      @include mdq-min(xl) {
        display: block;
      }
    }
  }
  
  &__body {
    @include font-size(16px);
    text-align: center;
    color: #666;
    line-height: 1.5;
    padding-top: rem(20);
    
    .intro-card-title {
      @include margin-bottom(24px);
      
      @include mdq-min(xl) {
        display: none;
      }
    }
  }
  
  &-title {
    @include font-size(16px);
    color: #000;
  }
  
  [class^="intro-card-icon"],
  [class*=" intro-card-icon"] {
    display: inline-block;
    width: rem(60);
    height: rem(60);
    background: {
    	repeat: no-repeat;
    	position: center;
    	size: auto;
    }
  }
  
  @for $i from 1 through 6 {
    .intro-card-icon--#{$i} {
      background-image: url(../images/intro/vision_icon_#{$i}.svg);
    }
  }
}

.location-swiper {
  .swiper-navigation {
    position: absolute;
    top: 70vw;
    right: rem(20);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(10);
    
    @include mdq-min(lg) {
      top: inherit;
      bottom: 0;
      right: 0;
    }
  }
}


// ONLY INDEX
.intro-index {

}