// Main Visual
.main-visual {
  &__bg {
    position: relative;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
  }
  
  &__blur {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
    transition: all .5s ease-in-out;
    transform: translateX(-100%);
    
    &.active {
      animation: main-visual-blur-active-mobile 3s ease-in-out 0s 1 alternate both;
    }
    
    @include mdq-min(laptop) {
      width: 0;
      transform: translateX(0);
      
      &.active {
        animation: main-visual-blur-active 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0s 1 alternate both;
        
        &.sliding {
          animation: main-visual-blur-sliding 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0s 1 alternate both;
          
          &.slided {
            left: inherit;
            right: 0;
            animation: main-visual-blur-slided 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0s 1 alternate both;
          }
        }
      }
    }
  }
  
  &__video {
    position: relative;
    height: 100vh;
    
    video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 1000%;
      min-height: 1000%;
      max-width: none;
      max-height: none;
      transform: translate(-50%, -50%) scale(0.1);
    }
  }
  
  &__text-box {
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 1640px;
    padding-left: rem(30);
    padding-right: rem(30);
    z-index: 2;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    @include mdq-min(sm) {
      padding-left: rem(60);
    }
    
    @include mdq-min(md) {
      top: 240px;
    }
    
    @include mdq-min(lg) {
      padding-left: rem(30);
    }
    
    @include mdq-min(xl) {
      top: 50%;
      transform: translate(-50%, -75%);
    }
  }
  
  &__more-link {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1640px;
    padding-left: rem(30);
    padding-right: rem(30);
    box-sizing: border-box;
    z-index: 4;
    
    @include mdq-min(sm) {
      top: 380px;
      padding-left: rem(60);
    }
    
    @include mdq-min(md) {
      top: 460px;
    }
  
    @include mdq-min(lg) {
      top: 470px;
      padding-left: rem(30);
    }
    
    @include mdq-min(xl) {
      top: 60%;
    }
    
    a {
      display: inline-flex;
      align-items: center;
      font-size: 14px;
      font-weight: 900;
      letter-spacing: -0.5px;
      padding: 18.5px 28px;
      border-radius: 50px;
      border: 1px solid rgba(#fff, 0.3);
      color: #fff;
      text-decoration: none;
      gap: 16px;
      transition: background-color .4s ease-in-out, border-color .4s ease-in-out, color .4s ease-in-out, opacity .4s ease-in-out;
      opacity: 0;
      
      @media screen and (max-width: 1280px) {
        font-size: 12px;
        padding: 10px 16px;
      }
      
      &::after {
        content: '';
        display: block;
        width: 18px;
        height: 8px;
        transition: background-image .4s ease-in-out;
        background: {
          image: url("data:image/svg+xml,%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.382872' width='0.914558' height='6.71838' transform='matrix(-0.765744 0.643145 -0.765744 -0.643145 19.6761 4.75376)' fill='white' stroke='white' stroke-width='0.5'/%3E%3Crect x='-2.98023e-08' y='-0.321572' width='0.914558' height='6.71837' transform='matrix(0.765745 0.643145 -0.765744 0.643145 18.4364 4.61962)' fill='white' stroke='white' stroke-width='0.5'/%3E%3Crect x='0.25' y='-0.25' width='17.17' height='0.877059' transform='matrix(-1 -1.39968e-08 1.6665e-08 1 18.1699 4.8125)' fill='white' stroke='white' stroke-width='0.5'/%3E%3C/svg%3E%0A");
          repeat: no-repeat;
          position: center;
          size: auto 100%;
        }
      }
      
      &:hover {
        color: #000;
        border-color: #fff;
        background-color: #fff;
        
        &::after {
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.382872' width='0.914558' height='6.71838' transform='matrix(-0.765744 0.643145 -0.765744 -0.643145 19.6761 4.75376)' fill='black' stroke='black' stroke-width='0.5'/%3E%3Crect x='-2.98023e-08' y='-0.321572' width='0.914558' height='6.71837' transform='matrix(0.765745 0.643145 -0.765744 0.643145 18.4364 4.61962)' fill='black' stroke='black' stroke-width='0.5'/%3E%3Crect x='0.25' y='-0.25' width='17.17' height='0.877059' transform='matrix(-1 -1.39968e-08 1.6665e-08 1 18.1699 4.8125)' fill='black' stroke='black' stroke-width='0.5'/%3E%3C/svg%3E%0A");
        }
      }
    }
    
    &.active {
      a {
        opacity: 1;
      }
    }
  }
  
  .swiper-controls {
    top: 380px;
    
    @include mdq-min(sm) {
      padding-left: rem(60);
      top: 520px;
    }
    
    @include mdq-min(md) {
      top: 540px;
    }
    
    @include mdq-min(lg) {
      top: 560px;
      padding-left: rem(200);
    }
    
    @include mdq-min(xl) {
      top: calc(60% + 30px);
    }
  }
  
  &-title {
    font-size: 9vw;
    font-weight: 300;
    line-height: 1;
    margin: 20px 0 0;
    
    &.active {
      animation: main-visual-title-active 1.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0s 1 alternate both;
    }
    
    @include mdq-min(sm) {
      @include font-size(52px);
    }
    
    @include mdq-min(md) {
      @include font-size(56px);
    }
    
    @include mdq-min(lg) {
      @include font-size(64px);
    }
    
    @include mdq-min(xl) {
      @include font-size(80px);
    }
  }
  
  &-sub-title {
    font-size: 3.5vw;
    line-height: (23/18);
    opacity: 0;
    
    &.active {
      animation: main-visual-sub-title-active 1s linear 0s 1 alternate both;
    }
    
    @include mdq-min(lg) {
      font-size: 18px;
    }
  }
}