@keyframes main-visual-blur-active {
  0% {
    width: 0;
  }
  100% {
    width: 34.375%;
  }
}
@keyframes main-visual-blur-sliding {
  0% {
    width: 34.375%;
  }
  100% {
    width: 100%;
  }
}
@keyframes main-visual-blur-slided {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes main-visual-blur-active-mobile {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}
@keyframes main-visual-title-active {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes main-visual-sub-title-active {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.home {
  height: 100%;
  overflow-x: hidden;
  background-color: #111;
}

.main-prd {
  padding-top: 7.5rem;
  padding-bottom: 20rem;
}
@media (min-width: 1025px) {
  .main-prd {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.main-prd .container {
  display: flex;
  align-items: center;
  max-width: 1640px;
  height: 100%;
  padding: 0 1.875rem;
}
.main-prd-wrap {
  width: 1000px;
  max-width: 100%;
}
.main-prd__img {
  display: block;
  overflow: hidden;
}
.main-prd__img img {
  transform: translateX(-5%);
}
@media (min-width: 577px) {
  .main-prd__img img {
    transform: translateX(0);
  }
}
.main-prd__text-box {
  z-index: 2;
  width: 100%;
  max-width: 1640px;
  color: #fff;
  box-sizing: border-box;
  padding-top: 1.25rem;
}
@media (min-width: 577px) {
  .main-prd__text-box {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    padding-top: 0;
  }
}
.main-prd .swiper-controls {
  position: static;
  top: 90%;
  transform: none;
  padding-left: 0;
  padding-right: 0;
  margin-top: 1.25rem;
}
@media (min-width: 577px) {
  .main-prd .swiper-controls {
    position: absolute;
    top: 80%;
    transform: translateX(-50%);
    margin-top: 0;
  }
}
@media (min-width: 769px) {
  .main-prd .swiper-controls {
    top: 60%;
  }
}
@media (min-width: 1025px) {
  .main-prd .swiper-controls {
    top: 65%;
  }
}
@media (min-width: 1281px) {
  .main-prd .swiper-controls {
    top: calc(65% + 30px);
    padding-left: 16.875rem;
    padding-right: 1.25rem;
  }
}
.main-prd__more-link {
  top: 40%;
  width: 100%;
  max-width: 1640px;
  box-sizing: border-box;
  z-index: 4;
  margin-top: 1.25rem;
}
@media (min-width: 577px) {
  .main-prd__more-link {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 0;
  }
}
@media (min-width: 769px) {
  .main-prd__more-link {
    top: 42%;
  }
}
@media (min-width: 1025px) {
  .main-prd__more-link {
    top: 52%;
    transform: translate(-50%, 0);
  }
}
@media (min-width: 1281px) {
  .main-prd__more-link {
    top: 69%;
  }
}
.main-prd__more-link a {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: -0.5px;
  padding: 18.5px 28px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  text-decoration: none;
  gap: 16px;
  transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out, color 0.4s ease-in-out, opacity 0.4s ease-in-out;
  opacity: 0;
}
@media screen and (max-width: 1280px) {
  .main-prd__more-link a {
    font-size: 12px;
    padding: 10px 16px;
  }
}
.main-prd__more-link a::after {
  content: "";
  display: block;
  width: 18px;
  height: 8px;
  transition: background-image 0.4s ease-in-out;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.382872' width='0.914558' height='6.71838' transform='matrix(-0.765744 0.643145 -0.765744 -0.643145 19.6761 4.75376)' fill='white' stroke='white' stroke-width='0.5'/%3E%3Crect x='-2.98023e-08' y='-0.321572' width='0.914558' height='6.71837' transform='matrix(0.765745 0.643145 -0.765744 0.643145 18.4364 4.61962)' fill='white' stroke='white' stroke-width='0.5'/%3E%3Crect x='0.25' y='-0.25' width='17.17' height='0.877059' transform='matrix(-1 -1.39968e-08 1.6665e-08 1 18.1699 4.8125)' fill='white' stroke='white' stroke-width='0.5'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}
.main-prd__more-link a:hover {
  color: #000;
  border-color: #fff;
  background-color: #fff;
}
.main-prd__more-link a:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.382872' width='0.914558' height='6.71838' transform='matrix(-0.765744 0.643145 -0.765744 -0.643145 19.6761 4.75376)' fill='black' stroke='black' stroke-width='0.5'/%3E%3Crect x='-2.98023e-08' y='-0.321572' width='0.914558' height='6.71837' transform='matrix(0.765745 0.643145 -0.765744 0.643145 18.4364 4.61962)' fill='black' stroke='black' stroke-width='0.5'/%3E%3Crect x='0.25' y='-0.25' width='17.17' height='0.877059' transform='matrix(-1 -1.39968e-08 1.6665e-08 1 18.1699 4.8125)' fill='black' stroke='black' stroke-width='0.5'/%3E%3C/svg%3E%0A");
}
.main-prd__more-link.active a {
  opacity: 1;
}
.main-prd-title {
  font-size: 8.5vw;
  font-weight: 300;
  line-height: 1;
  margin: 8px 0 0;
}
.main-prd-title.active {
  animation: main-visual-title-active 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s 1 alternate both;
}
@media (min-width: 769px) {
  .main-prd-title {
    font-size: calc(1.425rem + 7vw);
  }
}
@media (min-width: 769px) and (min-width: 360px) {
  .main-prd-title {
    font-size: 3rem;
  }
}
@media (min-width: 1025px) {
  .main-prd-title {
    font-size: calc(1.525rem + 11vw);
  }
}
@media (min-width: 1025px) and (min-width: 360px) {
  .main-prd-title {
    font-size: 4rem;
  }
}
@media (min-width: 1281px) {
  .main-prd-title {
    font-size: calc(1.625rem + 15vw);
  }
}
@media (min-width: 1281px) and (min-width: 360px) {
  .main-prd-title {
    font-size: 5rem;
  }
}
.main-prd-sub-title {
  font-size: 3vw;
  line-height: 1.2777777778;
  opacity: 0;
}
.main-prd-sub-title.active {
  animation: main-visual-sub-title-active 1s linear 0s 1 alternate both;
}
@media (min-width: 577px) {
  .main-prd-sub-title {
    font-size: 1.125rem;
  }
}
@media (min-width: 1025px) {
  .main-prd-sub-title {
    font-size: 1.125rem;
  }
}

.swiper-controls {
  position: absolute;
  top: calc(66vh + 30px);
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  width: 100%;
  max-width: 1640px;
  height: 0;
  padding-left: 16.875rem;
  padding-right: 1.875rem;
  display: flex;
  align-items: center;
  gap: 100px;
  box-sizing: border-box;
}
@media screen and (max-width: 1280px) {
  .swiper-controls {
    height: auto;
    top: 71.9696969697%;
    padding-left: 1.875rem;
    gap: 50px;
  }
}
@media screen and (max-width: 768px) {
  .swiper-controls {
    top: 64vh;
  }
}
@media screen and (max-width: 576px) {
  .swiper-controls {
    top: 55vh;
  }
}

.swiper-navigation {
  width: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
.swiper-navigation .swiper-button-prev,
.swiper-navigation .swiper-button-next {
  position: relative;
  left: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 0;
  margin: 0;
  background: none;
}
@media screen and (max-width: 1280px) {
  .swiper-navigation .swiper-button-prev,
.swiper-navigation .swiper-button-next {
    width: 44px;
    height: 44px;
  }
}
.swiper-navigation .swiper-button-prev::after,
.swiper-navigation .swiper-button-next::after {
  width: 18px;
  height: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}
.swiper-navigation .swiper-button-prev.swiper-button-disabled,
.swiper-navigation .swiper-button-next.swiper-button-disabled {
  opacity: 1;
}
.swiper-navigation .swiper-button-prev svg,
.swiper-navigation .swiper-button-next svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.swiper-navigation .swiper-button-prev svg .timer,
.swiper-navigation .swiper-button-next svg .timer {
  stroke-dasharray: 220;
  stroke-dashoffset: 220;
}
@keyframes timer-ani {
  0% {
    stroke-dashoffset: 220;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.swiper-navigation .swiper-button-prev svg .timer.active,
.swiper-navigation .swiper-button-next svg .timer.active {
  animation: timer-ani 7s linear 0s infinite normal;
}
.swiper-navigation .swiper-button-prev::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='-0.382872' y='2.98023e-08' width='0.914558' height='6.71838' transform='matrix(0.765744 -0.643145 0.765745 0.643145 0.91031 4.75376)' fill='white' stroke='white' stroke-width='0.5'/%3E%3Crect x='5.96046e-08' y='0.321572' width='0.914558' height='6.71837' transform='matrix(-0.765745 -0.643145 0.765744 -0.643145 1.07114 5.7945)' fill='white' stroke='white' stroke-width='0.5'/%3E%3Crect x='-0.25' y='0.25' width='17.17' height='0.877059' transform='matrix(1 -7.3426e-08 -1.04088e-07 -1 2.33008 5.68701)' fill='white' stroke='white' stroke-width='0.5'/%3E%3C/svg%3E%0A");
}
.swiper-navigation .swiper-button-next::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.382872' width='0.914558' height='6.71838' transform='matrix(-0.765744 0.643145 -0.765744 -0.643145 19.6761 4.75376)' fill='white' stroke='white' stroke-width='0.5'/%3E%3Crect x='-2.98023e-08' y='-0.321572' width='0.914558' height='6.71837' transform='matrix(0.765745 0.643145 -0.765744 0.643145 18.4364 4.61913)' fill='white' stroke='white' stroke-width='0.5'/%3E%3Crect x='0.25' y='-0.25' width='17.17' height='0.877059' transform='matrix(-1 -1.39968e-08 1.6665e-08 1 18.1699 4.81299)' fill='white' stroke='white' stroke-width='0.5'/%3E%3C/svg%3E%0A");
}

.swiper-pagination {
  position: static;
  width: auto !important;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 1;
  box-sizing: border-box;
  background: none;
}
.swiper-pagination-bullet-active {
  border-width: 2px;
  border-color: #fff;
}

.main-visual-swiper {
  height: 100%;
}

.main-prd-swiper {
  overflow: visible;
}

.main-visual__bg {
  position: relative;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}
.main-visual__blur {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(25px);
  transition: all 0.5s ease-in-out;
  transform: translateX(-100%);
}
.main-visual__blur.active {
  animation: main-visual-blur-active-mobile 3s ease-in-out 0s 1 alternate both;
}
@media (min-width: 1441px) {
  .main-visual__blur {
    width: 0;
    transform: translateX(0);
  }
  .main-visual__blur.active {
    animation: main-visual-blur-active 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s 1 alternate both;
  }
  .main-visual__blur.active.sliding {
    animation: main-visual-blur-sliding 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s 1 alternate both;
  }
  .main-visual__blur.active.sliding.slided {
    left: inherit;
    right: 0;
    animation: main-visual-blur-slided 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s 1 alternate both;
  }
}
.main-visual__video {
  position: relative;
  height: 100vh;
}
.main-visual__video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
}
.main-visual__text-box {
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 1640px;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  z-index: 2;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 577px) {
  .main-visual__text-box {
    padding-left: 3.75rem;
  }
}
@media (min-width: 769px) {
  .main-visual__text-box {
    top: 240px;
  }
}
@media (min-width: 1025px) {
  .main-visual__text-box {
    padding-left: 1.875rem;
  }
}
@media (min-width: 1281px) {
  .main-visual__text-box {
    top: 50%;
    transform: translate(-50%, -75%);
  }
}
.main-visual__more-link {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1640px;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  box-sizing: border-box;
  z-index: 4;
}
@media (min-width: 577px) {
  .main-visual__more-link {
    top: 380px;
    padding-left: 3.75rem;
  }
}
@media (min-width: 769px) {
  .main-visual__more-link {
    top: 460px;
  }
}
@media (min-width: 1025px) {
  .main-visual__more-link {
    top: 470px;
    padding-left: 1.875rem;
  }
}
@media (min-width: 1281px) {
  .main-visual__more-link {
    top: 60%;
  }
}
.main-visual__more-link a {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: -0.5px;
  padding: 18.5px 28px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  text-decoration: none;
  gap: 16px;
  transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out, color 0.4s ease-in-out, opacity 0.4s ease-in-out;
  opacity: 0;
}
@media screen and (max-width: 1280px) {
  .main-visual__more-link a {
    font-size: 12px;
    padding: 10px 16px;
  }
}
.main-visual__more-link a::after {
  content: "";
  display: block;
  width: 18px;
  height: 8px;
  transition: background-image 0.4s ease-in-out;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.382872' width='0.914558' height='6.71838' transform='matrix(-0.765744 0.643145 -0.765744 -0.643145 19.6761 4.75376)' fill='white' stroke='white' stroke-width='0.5'/%3E%3Crect x='-2.98023e-08' y='-0.321572' width='0.914558' height='6.71837' transform='matrix(0.765745 0.643145 -0.765744 0.643145 18.4364 4.61962)' fill='white' stroke='white' stroke-width='0.5'/%3E%3Crect x='0.25' y='-0.25' width='17.17' height='0.877059' transform='matrix(-1 -1.39968e-08 1.6665e-08 1 18.1699 4.8125)' fill='white' stroke='white' stroke-width='0.5'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}
.main-visual__more-link a:hover {
  color: #000;
  border-color: #fff;
  background-color: #fff;
}
.main-visual__more-link a:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.382872' width='0.914558' height='6.71838' transform='matrix(-0.765744 0.643145 -0.765744 -0.643145 19.6761 4.75376)' fill='black' stroke='black' stroke-width='0.5'/%3E%3Crect x='-2.98023e-08' y='-0.321572' width='0.914558' height='6.71837' transform='matrix(0.765745 0.643145 -0.765744 0.643145 18.4364 4.61962)' fill='black' stroke='black' stroke-width='0.5'/%3E%3Crect x='0.25' y='-0.25' width='17.17' height='0.877059' transform='matrix(-1 -1.39968e-08 1.6665e-08 1 18.1699 4.8125)' fill='black' stroke='black' stroke-width='0.5'/%3E%3C/svg%3E%0A");
}
.main-visual__more-link.active a {
  opacity: 1;
}
.main-visual .swiper-controls {
  top: 380px;
}
@media (min-width: 577px) {
  .main-visual .swiper-controls {
    padding-left: 3.75rem;
    top: 520px;
  }
}
@media (min-width: 769px) {
  .main-visual .swiper-controls {
    top: 540px;
  }
}
@media (min-width: 1025px) {
  .main-visual .swiper-controls {
    top: 560px;
    padding-left: 12.5rem;
  }
}
@media (min-width: 1281px) {
  .main-visual .swiper-controls {
    top: calc(60% + 30px);
  }
}
.main-visual-title {
  font-size: 9vw;
  font-weight: 300;
  line-height: 1;
  margin: 20px 0 0;
}
.main-visual-title.active {
  animation: main-visual-title-active 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s 1 alternate both;
}
@media (min-width: 577px) {
  .main-visual-title {
    font-size: calc(1.45rem + 8vw);
  }
}
@media (min-width: 577px) and (min-width: 360px) {
  .main-visual-title {
    font-size: 3.25rem;
  }
}
@media (min-width: 769px) {
  .main-visual-title {
    font-size: calc(1.475rem + 9vw);
  }
}
@media (min-width: 769px) and (min-width: 360px) {
  .main-visual-title {
    font-size: 3.5rem;
  }
}
@media (min-width: 1025px) {
  .main-visual-title {
    font-size: calc(1.525rem + 11vw);
  }
}
@media (min-width: 1025px) and (min-width: 360px) {
  .main-visual-title {
    font-size: 4rem;
  }
}
@media (min-width: 1281px) {
  .main-visual-title {
    font-size: calc(1.625rem + 15vw);
  }
}
@media (min-width: 1281px) and (min-width: 360px) {
  .main-visual-title {
    font-size: 5rem;
  }
}
.main-visual-sub-title {
  font-size: 3.5vw;
  line-height: 1.2777777778;
  opacity: 0;
}
.main-visual-sub-title.active {
  animation: main-visual-sub-title-active 1s linear 0s 1 alternate both;
}
@media (min-width: 1025px) {
  .main-visual-sub-title {
    font-size: 18px;
  }
}

/*# sourceMappingURL=main.css.map */
